main.aux
main.log
main.synctex.gz
part1/chapter1_origins.aux
part1/chapter1_origins.log
part1/chapter1_origins.synctex.gz
part1/chapter2_tannakian.aux
part1/chapter2_tannakian.log
part1/chapter2_tannakian.synctex.gz
part1/chapter3_algebraiccycles.aux
part1/chapter3_algebraiccycles.log
part1/chapter3_algebraiccycles.synctex.gz